<div class="sidebar flex flex-col bg-white fixed w-60 2xl:w-72 top-0 bottom-0" [class.open]="sideMenuOpen()">
  <app-svg-icon name="close" class="close-btn" (click)="toggleSideMenu()" />
  <div class="mb-auto p-4 2xl:p-6 max-h-[calc(100vh-170px)] overflow-y-auto">
    <img [src]="logo" class="h-24 mx-auto" alt="{{ 'common.logoAlt' | translate }}">
    <div class="mt-4 2md:mt-6">
      <ul>
        <li routerLinkActive="active">
          <a class="menu-item py-3.5" [routerLink]="[routes.HOME]">
            <app-svg-icon name="dashboard" />
            <span class="ml-4"> {{ 'pageTitle.home' | translate }} </span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a class="menu-item py-3.5" [routerLink]="[routes.ORDER]">
            <app-svg-icon name="order" />
            <span class="ml-4"> {{ 'pageTitle.order' | translate }} </span>
          </a>
        </li>
        <li routerLinkActive="active" [ngClass]="{ 'open' : menuStates().settings }">
          <a class="menu-item py-3.5" [routerLink]="[routes.REGISTRY]" (click)="toggleMenu(menuType.SETTINGS)"
            (keyup)="toggleMenu(menuType.SETTINGS)">
            <app-svg-icon name="registry" />
            <span class="ml-4 mr-auto"> {{ 'pageTitle.registry' | translate }} </span>
            @if (subTabs.length) {
            <app-svg-icon [name]="menuStates().settings ? 'arrow_drop_up' : 'arrow_drop_down'" />
            }
            <app-svg-icon name="add" (click)="addNewTable($event)" />
          </a>
          <ul class="sub-menu">
            @for (tab of subTabs; track $index) {
            <li>
              <a class="menu-item py-3.5" [routerLink]="[routes.QUERY]" [queryParams]="{'uuid': tab.uuid}"
                routerLinkActive="active">
                <app-svg-icon name="query" />
                <span class="ml-4"> {{tab.tabName }} </span>
              </a>
            </li>
            }
          </ul>
        </li>
        <li routerLinkActive="active">
          <a class="menu-item py-3.5" [routerLink]="[routes.DDT]">
            <app-svg-icon name="tax" />
            <span class="ml-4"> {{ 'pageTitle.ddt' | translate }} </span>
          </a>
        </li>
        <li routerLinkActive="active">
          <a class="menu-item py-3.5" [routerLink]="[routes.INVOICE]">
            <app-svg-icon name="invoice" />
            <span class="ml-4"> {{ 'pageTitle.invoice' | translate }} </span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="p-6 xl:p-8 2xl:px-12 2xl:py-10 mt-auto border-t border-grey-50">
    <div class="p-2">
      <ng-select class="custom-select" [(ngModel)]="currentLanguage" [clearable]="false"
        (change)="changeLanguage($event)">
        @for (lang of languages; track $index) {
        <ng-option [value]="lang.value">
          <div class="flex">
            <img class="mr-2 w-1/6 h-1/6" [src]="lang.flagUrl" alt="lang-icon" />{{ lang.label }}
          </div>
        </ng-option>
        }
      </ng-select>
    </div>
    <a class="flex menu-item py-3.5">
      <app-svg-icon name="person" />
      <span class="ml-3">{{ 'common.user'| translate }}</span>
    </a>
    <a class="flex menu-item pb-3.5" [routerLink]="[routes.LOGOUT]">
      <app-svg-icon name="logout" />
      <span class="ml-3"> {{ 'pageTitle.logout' | translate }} </span>
    </a>
  </div>
</div>
<div (click)="toggleSideMenu()" (keypress)="toggleSideMenu()" role="none" class="menu-overlay"></div>